[submodule "external_packages/hpmpc/src"]
	path = external_packages/hpmpc/src
	url = https://github.com/giaf/hpmpc.git
[submodule "external_packages/blasfeo/src"]
	path = external_packages/blasfeo/src
	url = https://github.com/giaf/blasfeo.git
