[submodule "external_packages/hpmpc/src"]
	path = external_packages/hpmpc/src
	url = https://github.com/jgillis/hpmpc.git
[submodule "external_packages/blasfeo/src"]
	path = external_packages/blasfeo/src
	url = https://github.com/jgillis/blasfeo.git
[submodule "external_packages/snopt-interface/snopt-interface"]
	path = external_packages/snopt-interface/snopt-interface
	url = https://github.com/snopt/snopt-interface.git
[submodule "external_packages/osqp/osqp"]
	path = external_packages/osqp/osqp
	url = https://github.com/jgillis/osqp.git
[submodule "external_packages/superscs"]
	path = external_packages/superscs
	url = https://github.com/jgillis/scs.git
