# C extensions
*.so

# Distribution / packaging
*install*
*build*
lib/
*.whl

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Visual studio code
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test folder
test/python/*.c
test/python/*.dat
test/htmlcov
test/matlab/*.c
test/matlab/ON
test/matlab/OFF

# Files leaking from test folder to root folder
/*.c
/*.dat

# Documentation
docs/api/html
docs/api/export
docs/api/internal
docs/api/XML
docs/api/XML_internal
docs/api/XML_cluttered
docs/api/latex
docs/example_pack
docs/examples/python/*_fmu_unzipped
docs/examples/python/modelica/*.xml
docs/tutorials/cpp/casadi-doc
docs/tutorials/cpp/casadi-doc.pdf
docs/users_guide/casadi-users_guide
docs/users_guide/temp
docs/users_guide/snippets
docs/examples/_temp*
documentation/examples/ctemplate/compiler.sh
documentation/examples/ctemplate/linker.sh

# Doc types
*.txt
*.pdf
*.docx
*.doc
*.tex

# Logger
*.log

# Mac
.DS_Store

# joel
experimental/joel/cuter/cuter_source
experimental/joel/cuter/orfe.princeton.edu
experimental/joel/cuter/cuter_selected
external_packages/ColPack

# Miscellaneous
obj-x86_64-linux-gnu
*.edited
*~
*.orig
*.swp

swig/*/target*

*tmp*
*temp*
*.casadi
*.mtx
callgrind.out.*
cachegrind.out.*
codegen_*

*BACKUP*
*BASE*
*LOCAL*
*REMOTE*
*.bak
*.sancov
*.prof
*.run
*.dot
*.o
*.cxx
*.mat
CMakeFiles
*.mex*
*.mod
mockups*
*coinhsl*
*.zip
dockcross*
*debug*
*_export.h
*.deb
*.tar.gz
