span.linenos {
    padding-right: 1.6em;
}

.sig.py .sig-param > span,
.sig-return-typehint > span,
.sig-return-typehint > a > span {
    font-weight: 200;
}

.sig.py .sig-param > span.n:first-child {
    font-weight: 700;
    color: #333;
}

.sig.py .sig-param > span.default_value {
    font-weight: 700;
}

.sig.cpp > span,
.sig.cpp > a > span {
    font-weight: 200;
}
.sig.cpp > span.sig-name,
.sig.cpp > span.sig-param {
    font-weight: 700;
}
.sig.cpp > span.sig-param {
    color: #333;
}