Source: casadi
Priority: optional
Maintainer: Greg Horn <gregmainland@gmail.com>
Build-Depends: debhelper (>= 9),
               cmake,
               pkg-config,
               coinor-libipopt-dev,
               libblas-dev,
               liblapack-dev,
               gfortran,
               libslicot-dev,
               libsundials-serial-dev,
               libsuitesparse-dev,
               libtinyxml-dev,
#               libdsdp-dev,
               swig2.0,
               dh-python,
               python-dev (>= 2.6.6),
               python-numpy
Standards-Version: 3.9.5
Section: libs
Homepage: http://casadi.org
Vcs-Git: git://github.com/casadi/casadi.git
Vcs-Browser: https://github.com/casadi/casadi

Package: libcasadi-core2.0
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: numerical optimization and algorithmic differentiation framework
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains the core library.


Package: libcasadi-core-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libcasadi-core2.0 (= ${binary:Version})
Description: CasADi core module (development files)
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains the core library development files.


Package: libcasadi-sundials-common2.0
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcasadi-core2.0 (= ${binary:Version}),
Description: numerical optimization and algorithmic differentiation framework
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains a common library for the SUNDIALS plugins.


Package: libcasadi-nlpsolver-ipopt
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcasadi-core2.0 (= ${binary:Version}),
         coinor-libipopt1
Description: IPOPT plugin for CasADi optimization framework
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains the IPOPT NLP solver interface plugin.


Package: libcasadi-nlpsolver-snopt
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcasadi-core2.0 (= ${binary:Version})
Description: SNOPT plugin for CasADi optimization framework
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains the SNOPT NLP solver interface plugin.


Package: libcasadi-solvers
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcasadi-core2.0 (= ${binary:Version})
Description: CasADi's suite of numerical solvers
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains a variety of in-house solver plugins.


Package: libcasadi-linearsolver-csparse
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcasadi-core2.0 (= ${binary:Version})
Description: CSparse plugin for CasADi
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains the CSparse linear-solver interface plugin.


#Package: libcasadi-sdpsolver-dsdp
#Architecture: any
#Depends: ${shlibs:Depends},
#         ${misc:Depends},
#         libcasadi-core2.0 (= ${binary:Version})
#Description: DSDP plugin for CasADi
# CasADi is a numerical optimization and algorithmic differentiation framework.
# It can be used from C++ or Python.
# .
# It provides users with a set of building blocks that simplify the process of
# implementing efficient gradient-based solvers for numerical optimization
# problems in general, and simulation-based nonlinear programs (optimal control)
# in particular. This can be done with a range of different methods including
# direct collocation, direct multiple shooting and indirect methods.
# .
# CasADi is designed as a symbolic framework that allows construction of
# large computational graphs made up of matrix-valued operations, and a
# state-of-the-art framework for algorithmic differentiation (AD) - also known
# as automatic differentiation - that operates on these computational graphs.
# Also contained is a set of solvers and interfaces to third-party solvers for
# nonlinear programming (NLP), quadratic programming (QP) and initial-value
# problems in ordinary differential equations (ODE) or diffential-algebraic
# equations (DAE). Other features of interest include generation of
# self-contained C-code and symbolic import of models from the Modelica physical
# modeling language and the AMPL algebraic modeling language.
# .
# This package contains the DSDP interface plugin.


Package: libcasadi-dplesolver-slicot
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcasadi-core2.0 (= ${binary:Version})
Description: SLICOT plugin for CasADi
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains the SLICOT interface plugin.


Package: libcasadi-qpsolver-qpoases
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcasadi-core2.0 (= ${binary:Version})
Description: qpOASES plugin for CasADi
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains the qpOASES QP solver interface plugin.


Package: libcasadi-linearsolver-lapack
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcasadi-core2.0 (= ${binary:Version})
Description: LAPACK linear solver plugin for CasADi
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains LAPACK linear solver interface plugins.


Package: libcasadi-sundials
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcasadi-core2.0 (= ${binary:Version}),
         libcasadi-sundials-common2.0 (= ${binary:Version})
Description: SUNDIALS integrators plugin for CasADi
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains SUNDIALS ODE/DAE solver interface plugins.


Package: libcasadi-xmlfile-tinyxml
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcasadi-core2.0 (= ${binary:Version})
Description: TinyXML plugin for CasADi
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains the TinyXML plugin.


Package: python-casadi
Section: python
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends},
         libcasadi-core2.0 (= ${binary:Version}),
         python-numpy-abi9,
	 python-numpy (>= 1:1.6.1)
Provides: ${python:Provides}
Description: Python bindings for CasADi
 CasADi is a numerical optimization and algorithmic differentiation framework.
 It can be used from C++ or Python.
 .
 It provides users with a set of building blocks that simplify the process of
 implementing efficient gradient-based solvers for numerical optimization
 problems in general, and simulation-based nonlinear programs (optimal control)
 in particular. This can be done with a range of different methods including
 direct collocation, direct multiple shooting and indirect methods.
 .
 CasADi is designed as a symbolic framework that allows construction of
 large computational graphs made up of matrix-valued operations, and a
 state-of-the-art framework for algorithmic differentiation (AD) - also known
 as automatic differentiation - that operates on these computational graphs.
 Also contained is a set of solvers and interfaces to third-party solvers for
 nonlinear programming (NLP), quadratic programming (QP) and initial-value
 problems in ordinary differential equations (ODE) or diffential-algebraic
 equations (DAE). Other features of interest include generation of
 self-contained C-code and symbolic import of models from the Modelica physical
 modeling language and the AMPL algebraic modeling language.
 .
 This package contains the Python bindings.
