#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

CMAKE_FLAGS = \
	-DWITH_EXAMPLES=OFF \
	-DCMAKE_VERBOSE_MAKEFILE=ON \
	-DCMAKE_BUILD_TYPE=Release \
	-DWITH_DEBIAN_BUILD=ON \
	-DWITH_SLICOT=ON \
	-DWITH_BUILD_SUNDIALS=OFF \
	-DWITH_DSDP=OFF \
	-DWITH_BUILD_DSDP=OFF \
	-DWITH_BUILD_CSPARSE=OFF \
	-DWITH_BUILD_TINYXML=OFF \
	-DWITH_SNOPT_FORCE_DUMMY=ON \
	-DCMAKE_SKIP_RPATH=ON \
	-DCMAKE_C_FLAGS="$(CFLAGS)" \
	-DCMAKE_CXX_FLAGS="$(CXXFLAGS)" \
	-DCMAKE_SHARED_LINKER_FLAGS="$(LDFLAGS)" \
	-DCMAKE_EXE_LINKER_FLAGS="$(LDFLAGS)"
#	-DCMAKE_INSTALL_PREFIX=/usr \

%:
	dh $@ --buildsystem=cmake --with python2 --parallel

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

# unit tests are run post-install
override_dh_install:
	dh_install -O--buildsystem=cmake --list-missing

	LD_LIBRARY_PATH=\
	$(CURDIR)/debian/libcasadi-core-dev/usr/lib:\
	$(CURDIR)/debian/libcasadi-core2.0/usr/lib:\
	$(CURDIR)/debian/libcasadi-dplesolver-slicot/usr/lib/casadi:\
	$(CURDIR)/debian/libcasadi-linearsolver-csparse/usr/lib/casadi:\
	$(CURDIR)/debian/libcasadi-linearsolver-lapack/usr/lib/casadi:\
	$(CURDIR)/debian/libcasadi-nlpsolver-ipopt/usr/lib/casadi:\
	$(CURDIR)/debian/libcasadi-nlpsolver-snopt/usr/lib/casadi:\
	$(CURDIR)/debian/libcasadi-qpsolver-qpoases/usr/lib/casadi:\
	$(CURDIR)/debian/libcasadi-solvers/usr/lib/casadi:\
	$(CURDIR)/debian/libcasadi-sundials/usr/lib/casadi:\
	$(CURDIR)/debian/libcasadi-sundials-common2.0/usr/lib:\
	$(CURDIR)/debian/libcasadi-xmlfile-tinyxml/usr/lib/casadi \
	PYTHONPATH=$(CURDIR)/debian/python-casadi/usr/lib/python2.7/dist-packages \
	sh -c "cd test/python; python alltests.py --run_slow"
