#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

CMAKE_FLAGS = \
	-DCMAKE_SKIP_RPATH=ON \
	-DWITH_EXAMPLES=OFF \
	-DCMAKE_VERBOSE_MAKEFILE=ON \
	-DCMAKE_BUILD_TYPE=Debug \
	-DWITH_DEBIAN_BUILD=ON \
	-DWITH_SLICOT=ON \
	-DWITH_SNOPT_FORCE_DUMMY=ON
#	-DCMAKE_INSTALL_PREFIX=/usr \
#	-DCMAKE_C_FLAGS_RELEASE="$(CFLAGS)" \
#	-DCMAKE_CXX_FLAGS_RELEASE="$(CXXFLAGS)" \
#	-DCMAKE_SHARED_LINKER_FLAGS_RELEASE="$(LDFLAGS)" \
#	-DCMAKE_EXE_LINKER_FLAGS_RELEASE="$(LDFLAGS)" \

%:
	dh $@ --buildsystem=cmake --with python2 --parallel

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_install:
	dh_install -O--buildsystem=cmake --list-missing
