    virtual bool is_object() const { return ptr->is_object(); }
     
    // The following methods are needed to get size/columns/rows working
    virtual dim_vector dims (void) const { return ptr->dims(); }
