div.image {
    text-align: initial;
}
div.contents {
    max-width: 1100px;
    box-sizing: border-box;
    margin: 0 auto 6em auto;
    padding: 1em 2.5em 2.5em 2.5em;
    box-shadow: 1px 1px 5px #555;
    background-color: white;
}
div.memitem {
    display: block !important;
    overflow: inherit;
    clear: both;
}
div.memproto, div.memdoc, div.directory, div.dyncontent {
    overflow: auto;
}
body {
    background-color: #DDD;
    width: 100%;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
}
h1, h2, h3, h4, h5,
h2.groupheader, .title, #projectname {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
}
div.contents > div.textblock > h1 {
    border-bottom: 1px solid #c8d0e2;
    padding-bottom: 5px;
    margin-top: 1em;
}
div.contents > div.textblock > hr {
    margin-right: 15px; /* To match width of doxygen headers and code blocks */
}
.title {
    font-size: 2em;
}
* {
    max-width: 100%;
}
/* These were originally "bold" which is too bold */
b, dt, caption, div.groupHeader, td.indexkey, th.dirtab,
.memproto, dl.reflist dt,
.params .paramname, .retval .paramname, .tparams .paramname, .exception .paramname,
.icon, dl.citelist dt, .inherit_header,
#powerTip div.ttname a, #powerTip div.ttname {
    font-weight: 500;
}
a.el {
    font-weight: 500;
}
.mdescLeft, .mdescRight {
    color: #444;
}
/* span.permalink {
    padding: 0 0.4em;
    opacity: 0.6;
    transition: opacity 0.15s;
}
.memtitle:hover span.permalink {
    opacity: 1;
} */
iframe {
    max-width: initial;
}
#MSearchField {
    max-width: initial;
}
body > div.header, div.PageDoc > div.header {
    max-width: 1100px;
    box-sizing: border-box;
    margin: auto;
    padding: 0.8em 2.5em 0.6em 2.5em;
    box-shadow: 1px 0px 5px #555;
}
div.ingroups {
    font-size: initial;
}
hr.footer { display: none; }
address.footer {
    box-shadow: 1px 1px 4px #555;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
}
address.footer * {
    display: inline-block;
}
address.footer > small {
    padding: 0.6em;
}
address.footer img.footer {
    height: 2em;
    vertical-align: middle;
    padding-bottom: 0.25em;
}
div#top {
    /* position: sticky; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
}
body > div.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
ul.sm-dox {
    background-color: #dde;
    background-image: none;
    box-shadow: 0px 1px 2px #458;
}
div.navpath > ul {
    background-color: #dde;
    background-image: none;
    box-shadow: 0px 1px 1px #569;
    margin-bottom: -3px;
    z-index: 101;
    position: relative;
}
.directory td {
    vertical-align: text-bottom;
}
.directory td > .el {
    display: inline-block;
}
.directory td.desc {
    padding: 0.6em 0.5em 0.6em 0.8em;
}
h2.memtitle, .memproto, .fieldtable th {
    background-color: #dde;
    background-image: none;
}
h2.memtitle {
    border-radius: 0.4em 0.4em 0 0;
}
.memproto {
    border-radius: 0 0.4em 0 0;
}
table.fieldtable {
    border-radius: 0.4em;
}
.fieldtable th {
    font-size: 1.1em;
}
span.mlabel {
    font-size: 0.9em;
}
.memdoc {
    border-radius: 0 0 0.4em 0.4em;
}
#MSearchResultsWindow {
    margin-top: 8px;
}
code {
    background-color: #f4f4ff;
    border-radius: 6px;
    padding: .1em .3em;
}
div.fragment {
    padding: 0.6em;
    border-radius: 0.6em;
}
div#powerTip {
    margin-top: 0.5em;
}

/* --------------------- */

/* Portrait and Landscape */
@media only screen and (max-width: 900px) /* and (orientation : portrait) */ {
    div#top {
        position: relative;
    }
    #side-nav { display: none; }
    #nav-path { display: none; }
    body { 
        overflow-x: hidden; 
    }
    .summary { display: none; }
    .memitem { page-break-inside: avoid; }
    div.contents {
      margin-left:0 !important;
      overflow-x: hidden;
      display: block;
      padding: 0.6em;
      margin-bottom: 0;
    }
    #MSearchResultsWindow {
        display: none;
        position: initial;
        left: 0; 
        top: 0;
        bottom: 0;
        border: 1px solid #ddd;
        z-index: 9999;
    }
    .sm-dox a, .sm-dox a:focus, .sm-dox a:hover, .sm-dox a:active {
        line-height: 2.4;
    }
    .sm-dox a:hover {
        background-image: url(tab_a.png);
        background-repeat: repeat-x;
        color: white;
        text-shadow: initial;
    }
    .sm-dox li>a span.sub-arrow:before {
        display: block;
        content: '+';
    }
    .sm-dox li {
        border-bottom: 1px solid #ccd;
    }

    /*
    address.footer {
        position: initial;
        box-shadow: none;
        background-image: url(nav_h.png);
        background-repeat: repeat-x;
        background-color: #F9FAFC;
        text-align: center;
    }
    */
    address.footer {
        display: none;
    }

    div.fragment {
        font-size: 11px;
    }

    div.contents p, 
    div.dyncontent, 
    div.textblock, 
    table.memberdecls, 
    div.memitem,
    div.contents p *, 
    div.dyncontent *, 
    table.memberdecls *, 
    div.memitem * {
        font-size: 12px;
        line-height: 1.5;
    }
    div.memproto * {
        font-size: 11px;
        line-height: 1.2;
    }
    .textblock h2 {
        font-size: 16px;
    }
    .textblock h3 {
        font-size: 14px;
    }
    .textblock h4 {
        font-size: 13px;
    }
    h2.groupheader {
        font-size: 20px;
    }
    h2.memtitle {
        font-size: 18px;
    }
    td.memSeparator {
        line-height: 1px;
    }
}

/* ---- Start search box ---- */

#MSearchResultsWindow {
    border: 1px solid #96A7C8;
    background-color: #F9FAFC;
    border-radius: 0 0 4px 4px;
    border-top: none;
    margin-top: 7px;
    box-shadow: 1px 1px 2px 0px #777;
}

@media only screen and (max-width: 767px) /* and (orientation : portrait) */ {
    #MSearchResultsWindow {
        border-radius: 0;
        margin-top: 0;
    }
}

/* ---- End search box ---- */